

<footer class="footer-content">


    <div class="footer-logo">
        <img src="/img/shoe.png" alt="ShoeFinder Logo" width="100px">
    </div>
    <div class="footer-info">
        &copy; 2023 SoleFinder. All rights reserved.
    </div>
    <div class="footer-social">
        <a href="#"><i class="fab fa-facebook fa-2xl"></i></a>
        <a href="#"><i class="fab fa-twitter fa-2xl"></i></a>
        <a href="#"><i class="fab fa-instagram fa-2xl"></i></a>
    </div>
</footer>

<script src="../../script.js"></script>

<script>
</script>
</body>

</html>